body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; 
    color: #333;
}

.container {
    max-width: 800px; 
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px; 
}

h1 {
    background-color: #5fb5da; 
    color: white;
    text-align: center;
    padding: 15px; 
    border-radius: 0; 
}

.label-main {
    display: block;
    margin-top: 15px;
    font-weight: bold; 
}

.label-sub {
    display: inline; 
    font-weight: normal; 
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: calc(100% - 22px); 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 0; 
    margin-top: 5px;
    background-color: #fff; 
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #5FB5DA; 
    color: white;
    border: none; 
    border-radius: 0; 
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #4da5c7; 
}

.label-sub {
    display: block; 
    font-weight: normal; 
    margin-top: 5px; 
}